@{    
   
    //byte[] img = (byte[])Session["ProfilePhoto"];
    //var profilePhoto = "data:image/png;base64," + Convert.ToBase64String(img, 0, img.Length);        
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AttendanceMgmt</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString()=="Home" ? "active": "" )">
                        <a class="nav-link" href="/Employee/Home/Home">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString()=="AddTodayAttendance" ? "active": "" )">
                        <a class="nav-link" href="/Employee/Home/AddTodayAttendance" data-toggle="modal" data-target="#exampleModal">Add Todays Attendance <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString()=="AddLeave" ? "active": "" )">
                        <a class="nav-link" href="/Employee/Home/AddLeave" data-toggle="modal" data-target="#AddLeave">Add Leave <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString()=="Attendance" ? "active": "" )">
                        <a class="nav-link" href="/Employee/Home/Attendance">View Attendance<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString()=="Leave" ? "active": "" )">
                        <a class="nav-link" href="/Employee/Home/Leave">View Leave<span class="sr-only">(current)</span></a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <img id="profilePhoto" alt="abc" style="width:40px;height:40px;border-radius:40%;border-color:black;" />
                    &nbsp;&nbsp;<h3 id="name" style="color:white;" data-toggle="modal" data-target="#profileModal"></h3>&nbsp;&nbsp;
                    <a class="btn btn-danger" type="submit" href="/Account/LogOut">LogOut</a>
                </form>
            </div>
        </nav>
    </div>
    @{
        Html.RenderPartial("AddAttendanceModal");
        Html.RenderPartial("AddLeaveModal");
        Html.RenderPartial("UpdateModal");
    }
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>

    <script>
         $(document).ready(function () {            
            $.ajax({
                type: 'GET',
                url: '/Employee/Home/GetUserDetail',
                datatype: 'json',
                success: function (data) {
                    $("#name").text(data[0].UserName); 
                    $("#profilePhoto").attr('src', 'data:image/png;base64,' + data[0].ProfilePhoto);
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    }
            });
            $("#uUserName").attr('readonly', true);    
        });
    </script>
</body>
</html>